@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/Iceland.ttf") format("truetype");
}

body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
}